.family-tree__branch {
    transition: padding 500ms;
    position: relative
}

.family-tree__row {
    padding: 60px 0
}

.family-tree__row-inner {
    padding: 0 60px
}

.family-tree__branch:first-child .family-tree__row:first-child {
    padding-top: 75px
}

.family-tree__branch:last-child .family-tree__row:last-child {
    padding-bottom: 90px
}

.family-tree__card {
    position: relative;
    text-align: center
}

.family-tree__card-inner {
    position: relative;
    transition: background-color 250ms;
    position: relative;
    border-radius: 3px;
    z-index: 20
}

.family-tree__card-thumb {
    position: relative;
    border-radius: 3px 3px 0 0
}

.family-tree__card-thumb-link {
    display: block;
    padding-bottom: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    border-radius: 3px 3px 0 0
}

.family-tree__card-thumb-link:hover {
    opacity: 0.9
}

.family-tree__card-thumb-link:active {
    opacity: 1
}

.family-tree__card-content {
    display: table;
    width: 100%;
    min-height: 100px
}

.family-tree__card-content-inner {
    display: table-cell;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    vertical-align: middle
}

.family-tree__card-label {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    z-index: 20
}

.family-tree__card-label-inner {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px
}

.family-tree__card-title {
    margin: 0;
    font-size: 1em;
    font-weight: 600
}

.family-tree__card-title-link {
    text-decoration: none
}

.family-tree__card-title-link:hover {
    text-decoration: none
}

.family-tree__card-date {
    margin: 5px 0 0 0;
    font-size: 0.875em;
    letter-spacing: 0.05em
}

.family-tree__card-options {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -37px;
    width: 100%;
    z-index: 10
}

.family-tree__card-option {
    text-decoration: none;
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    border: 4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.family-tree__card-option:hover {
    text-decoration: none
}

.family-tree__card-option-icon {
    position: relative;
    top: 1px
}

.family-tree__card-option-icon:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/branch.png) no-repeat center;
    background-size: 20px;
}
.family-tree__card-option-spinner {
    display: none;
    position: absolute;
    top: 6px;
    left: 6px
}

.family-tree__card--loading .family-tree__card-option-icon {
    opacity: 0
}

.family-tree__card--loading .family-tree__card-option-spinner {
    display: block
}

.family-tree__grid {
    position: relative;
    display: grid;
    column-gap: 40px;
    row-gap: 90px;
    margin: auto
}

.family-tree__grid--children {
    row-gap: 120px
}

.family-tree__grid--parents:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: -75px;
    margin-left: -1px;
    width: 2px
}

.family-tree__grid-item:nth-child(2) .family-tree__card--parent:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -75px;
    margin-left: -1px;
    width: 2px;
    height: 75px
}

.family-tree__grid-item:nth-child(2) .family-tree__card--parent:after {
    display: block;
    content: '';
    position: absolute;
    left: calc( -50% - 40px);
    bottom: -75px;
    width: calc( 100% + 40px);
    height: 2px
}

.family-tree__grid-item:nth-child(3) .family-tree__card--parent:before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -75px;
    margin-left: -1px;
    width: 2px;
    height: 75px
}

.family-tree__grid-item:nth-child(3) .family-tree__card--parent:after {
    display: block;
    content: '';
    position: absolute;
    left: calc( -50% - 40px);
    bottom: -75px;
    width: calc( 100% + 40px);
    height: 2px
}

.family-tree__grid--partners:before {
    display: block;
    content: '';
    position: absolute;
    top: -75px;
    bottom: -75px;
    margin-left: -1px;
    width: 2px
}

.family-tree__branch:first-child .family-tree__row:first-child .family-tree__grid--partners:before {
    top: 0
}

.family-tree__branch:first-child .family-tree__row:last-child .family-tree__grid--partners:before {
    bottom: auto;
    height: 75px
}

.family-tree__branch:last-child .family-tree__row:last-child .family-tree__grid--partners:before {
    bottom: auto;
    height: 75px
}

.family-tree__card--partner:before {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    bottom: 50px;
    width: 40px;
    height: 2px
}

.family-tree__grid--children:before {
    display: block;
    content: '';
    position: absolute;
    top: -75px;
    bottom: -300px;
    margin-left: -1px;
    width: 2px
}

.family-tree__branch:last-child .family-tree__row--1-rows .family-tree__grid--children:before {
    bottom: auto;
    height: 30px
}

.family-tree__branch:last-child .family-tree__row--2-rows .family-tree__grid--children:before {
    bottom: calc( 50% - 15px)
}

.family-tree__branch:last-child .family-tree__row--3-rows .family-tree__grid--children:before {
    bottom: calc( 33.3333% - 35px)
}

.family-tree__branch:last-child .family-tree__row--4-rows .family-tree__grid--children:before {
    bottom: calc( 25% - 45px)
}

.family-tree__branch:last-child .family-tree__row--5-rows .family-tree__grid--children:before {
    bottom: calc( 20% - 51px)
}

.family-tree__card--child:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 50%;
    top: -45px;
    margin-top: -2px;
    height: 2px;
    z-index: 10
}

.family-tree__card--child:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: -45px;
    margin-top: -2px;
    margin-left: -1px;
    width: 2px;
    height: 50px;
    z-index: 10
}

.family-tree--1-cols .family-tree__grid {
    max-width: 220px
}

.family-tree--1-cols .family-tree__grid--parents:before {
    left: 50%
}

.family-tree--1-cols .family-tree__grid--partners:before {
    left: 50%;
    bottom: auto;
    height: 75px
}

.family-tree--1-cols .family-tree__branch:first-child .family-tree__row:first-child .family-tree__grid--partners:before {
    display: none
}

.family-tree--2-cols .family-tree__grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 480px
}

.family-tree--2-cols .family-tree__grid--children .family-tree__grid-item:first-child {
    grid-column-start: 2
}

.family-tree--2-cols .family-tree__grid--parents:before {
    left: calc( ( ( 100% - 40px ) / 2 ) / 2)
}

.family-tree--2-cols .family-tree__grid--partners:before {
    left: calc( ( ( 100% - 40px ) / 2 ) / 2)
}

.family-tree--2-cols .family-tree__grid--children:before {
    left: calc( ( ( 100% - 40px ) / 2 ) / 2)
}

.family-tree--2-cols .family-tree__card--child:before {
    left: -50%;
    margin-left: -40px
}

.family-tree--3-cols .family-tree__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 700px
}

.family-tree--3-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(4n) {
    grid-column-start: 2
}

.family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(2n+1) {
    grid-column-start: 2
}

.family-tree--3-cols .family-tree__grid--parents:before {
    left: calc( ( ( 100% - 80px ) / 3 ) / 2)
}

.family-tree--3-cols .family-tree__grid--partners:before {
    left: calc( ( ( 100% - 80px ) / 3 ) / 2)
}

.family-tree--3-cols .family-tree__grid--children:before {
    left: calc( ( ( 100% - 80px ) / 3 ) / 2)
}

.family-tree--3-cols .family-tree__grid-item:nth-child(2n+1) .family-tree__card--child:before {
    left: -50%;
    margin-left: -40px
}

.family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(1):not(:last-child) .family-tree__card--child:before {
    right: -40px
}

.family-tree--4-cols .family-tree__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px
}

.family-tree--4-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(5n) {
    grid-column-start: 2
}

.family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1) {
    grid-column-start: 2
}

.family-tree--4-cols .family-tree__grid--parents:before {
    left: calc( ( ( 100% - 120px ) / 4 ) / 2)
}

.family-tree--4-cols .family-tree__grid--partners:before {
    left: calc( ( ( 100% - 120px ) / 4 ) / 2)
}

.family-tree--4-cols .family-tree__grid--children:before {
    left: calc( ( ( 100% - 120px ) / 4 ) / 2)
}

.family-tree--4-cols .family-tree__grid-item:nth-child(3n+1) .family-tree__card--child:before {
    left: -50%;
    margin-left: -40px
}

.family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1):not(:last-child) .family-tree__card--child:before,.family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+2):not(:last-child) .family-tree__card--child:before {
    right: -40px
}
.family-tree__card-inner {
    background-color: #FFF
}

.family-tree__card--root .family-tree__card-inner {
    color: #FFF;
    background-color: #D8220B
}

.family-tree__card-label-inner {
    color: #FFF;
    background-color: #D8220B
}

.family-tree__card-title-link {
    box-shadow: 0 1px 0 0 transparent;
    color: #242528
}

.family-tree__card-title-link:hover {
    box-shadow: 0 1px 0 0 #242528
}

.family-tree__card-title-link:active {
    box-shadow: 0 1px 0 0 rgba(36,37,40,0.4)
}

.family-tree__card--root .family-tree__card-title-link {
    box-shadow: 0 1px 0 0 transparent;
    color: #FFF
}

.family-tree__card--root .family-tree__card-title-link:hover {
    box-shadow: 0 1px 0 0 #fff
}

.family-tree__card--root .family-tree__card-title-link:active {
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.4)
}

.family-tree__card-thumb {
    background-color: #FFF
}

.family-tree__card-thumb-link {
    background-image: url("../../img/default-portrait.jpg")
}

.family-tree__card-option {
    color: #D8220B;
    background-color: #FFF;
    border-color: #edf1f4
}

.family-tree__card-option:hover {
    color: rgba(216,34,11,0.8)
}

.family-tree__card-option:active {
    color: rgba(216,34,11,0.6)
}

.family-tree__card-option-spinner {
    background-color: #D8220B;
}

.family-tree__branch:nth-child(even) {
    background-color: #e7ecf0
}

.family-tree__branch:nth-child(even) .family-tree__card-option {
    border-color: #e7ecf0
}

.family-tree__grid:before,.family-tree__grid:after,.family-tree__card:before,.family-tree__card:after {
    background-color: #ced0d9
}

@media (max-width: 1199px) {
    .family-tree__row {
        border-color: rgba(0,0,0,0.05)
    }
}
@media (max-width: 767px) {
    .family-tree__branch:last-child .family-tree__row--1-items .family-tree__grid--children:before {
        bottom: auto;
        height: 30px
    }

    .family-tree__branch:last-child .family-tree__row--2-items .family-tree__grid--children:before {
        bottom: calc(50% - 15px);
        height: auto
    }

    .family-tree__branch:last-child .family-tree__row--3-items .family-tree__grid--children:before {
        bottom: calc(33.3333% - 35px)
    }

    .family-tree__branch:last-child .family-tree__row--4-items .family-tree__grid--children:before {
        bottom: calc(25% - 45px)
    }

    .family-tree__branch:last-child .family-tree__row--5-items .family-tree__grid--children:before {
        bottom: calc(20% - 51px)
    }

    .family-tree__branch:last-child .family-tree__row--6-items .family-tree__grid--children:before {
        bottom: calc(16.6666% - 55px)
    }

    .family-tree__branch:last-child .family-tree__row--7-items .family-tree__grid--children:before {
        bottom: calc(14.2857% - 57.5px)
    }

    .family-tree__branch:last-child .family-tree__row--8-items .family-tree__grid--children:before {
        bottom: calc(12.5% - 60px)
    }

    .family-tree__branch:last-child .family-tree__row--9-items .family-tree__grid--children:before {
        bottom: calc(11.1111% - 62px)
    }

    .family-tree__branch:last-child .family-tree__row--10-items .family-tree__grid--children:before {
        bottom: calc(10% - 63px)
    }

    .family-tree__branch:last-child .family-tree__row--11-items .family-tree__grid--children:before {
        bottom: calc(9.0909% - 64px)
    }

    .family-tree__branch:last-child .family-tree__row--12-items .family-tree__grid--children:before {
        bottom: calc(8.3333% - 65px)
    }

    .family-tree__branch:last-child .family-tree__row--13-items .family-tree__grid--children:before {
        bottom: calc(7.6923% - 66px)
    }

    .family-tree__branch:last-child .family-tree__row--14-items .family-tree__grid--children:before {
        bottom: calc(7.1428% - 66.5px)
    }

    .family-tree__branch:last-child .family-tree__row--15-items .family-tree__grid--children:before {
        bottom: calc(6.6666% - 67px)
    }

    .family-tree__row-inner {
        padding: 0 30px
    }

    .family-tree--3-cols .family-tree__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px
    }

    .family-tree--3-cols .family-tree__grid--parents:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--partners:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(3n) {
        grid-column-start: 2
    }

    .family-tree--3-cols .family-tree__grid--children:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item {
        grid-column-start: 2
    }

    .family-tree--3-cols .family-tree__grid-item .family-tree__card--child:before {
        left: -50%;
        margin-left: -40px
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(1):not(:last-child) .family-tree__card--child:before {
        right: 50%
    }

    .family-tree--4-cols .family-tree__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px
    }

    .family-tree--4-cols .family-tree__grid--parents:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--partners:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--partners .family-tree__grid-item:not(:first-child) {
        grid-column-start: 2
    }

    .family-tree--4-cols .family-tree__grid--children:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1) {
        grid-column-start: 2
    }

    .family-tree--4-cols .family-tree__grid-item .family-tree__card--child:before {
        left: -50%;
        margin-left: -40px
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(1):not(:last-child) .family-tree__card--child:before,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1):not(:last-child) .family-tree__card--child:before,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+2):not(:last-child) .family-tree__card--child:before {
        right: 50%
    }
}
@media (max-width: 480px) {
    .family-tree__row {
        border-top: 1px solid transparent
    }

    .family-tree__branch:first-child .family-tree__row:first-child {
        border: 0;
        padding-top: 0;
    }

    .family-tree__grid {
        row-gap: 60px
    }

    .family-tree__grid:before,
    .family-tree__grid:after,
    .family-tree__grid .family-tree__grid-item .family-tree__card:before,
    .family-tree__grid .family-tree__grid-item .family-tree__card:after {
        display: none
    }

    .family-tree--2-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--3-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(2n+1),
    .family-tree--3-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(3n) {
        grid-column-start: auto
    }

    .family-tree--4-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--4-cols .family-tree__grid--partners .family-tree__grid-item:not(:first-child) {
        grid-column-start: auto
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(2n+1),
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1) {
        grid-column-start: auto
    }
}
