.family-timeline-page {
    margin-top: -210px
}

.family-timeline-page__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 20px 0
}

.family-timeline-page__list:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    width: 2px;
    height: 100%
}

.family-timeline-page__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    position: relative;
    margin-top: 120px;
    padding-left: 50%
}

.family-timeline-page__item:first-child {
    margin: 0
}

.family-timeline-page__item-title {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 50%;
    margin: 15px 60px 0 0;
    padding: 10px 30px;
    font-family: inherit;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
    border: 2px solid transparent;
    border-radius: 30px
}

.family-timeline-page__item-title:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -62px;
    margin-top: -1px;
    width: 60px;
    height: 2px
}

.family-timeline-page__item-title:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -67px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.family-timeline-page__card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 40px
}

.family-timeline-page__card-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    position: relative;
    margin-top: 60px
}

.family-timeline-page__card-item:first-child {
    margin: 0
}

.family-timeline-page__card {
    display: inline-block;
    position: relative;
    padding: 20px 40px 20px 120px;
    border-radius: 50px
}

.family-timeline-page__card-text {
    margin: 0
}

.family-timeline-page__card-title-link {
    text-decoration: none;
    font-weight: 600
}

.family-timeline-page__card-title-link:hover {
    text-decoration: none
}

.family-timeline-page__card-event-label {
    font-style: italic
}

.family-timeline-page__card-thumb {
    position: absolute;
    top: 50%;
    left: -10px;
    margin: -52px 0 0 0;
    border-radius: 50%
}

.family-timeline-page__card-thumb-link {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background-position: center 0;
    background-size: cover;
    border: 4px solid transparent;
    border-radius: 50%
}

.family-timeline-page__card-thumb-link:hover {
    opacity: 0.9
}

.family-timeline-page__card-thumb-link:active {
    opacity: 1
}

.family-timeline-page__list:before {
    background-color: #ced0d9
}

.family-timeline-page__item-title {
    color: #242528;
    border-color: #ced0d9
}

.family-timeline-page__item-title:before {
    background-color: #ced0d9
}

.family-timeline-page__item-title:after {
    background-color: #242528
}

.family-timeline-page__card {
    background-color: #FFF
}

.family-timeline-page__card-title-link {
    box-shadow: 0 1px 0 0 transparent;
    color: #242528
}

.family-timeline-page__card-title-link:hover {
    box-shadow: 0 1px 0 0 #242528
}

.family-timeline-page__card-title-link:active {
    box-shadow: 0 1px 0 0 rgba(36,37,40,0.4)
}

.family-timeline-page__card-thumb {
    background-color: #FFF
}

.family-timeline-page__card-thumb-link {
    background-image: url("../../img/default-portrait.jpg");
    border-color: #FFF
}

.family-timeline-page__card-option {
    color: #D8220B;
    background-color: #FFF
}

.family-timeline-page__card-option:hover {
    color: #76757B
}

.family-timeline-page__card-option:active {
    color: rgba(118,117,123,0.7)
}

.family-timeline-page__item:first-child .family-timeline-page__item-title {
    color: #FFF;
    border-color: #ced0d9
}

.family-timeline-page__item:first-child .family-timeline-page__item-title:after {
    background-color: #FFF
}
@media (min-width: 1200px) {
    .family-timeline-page__item:nth-child(even) {
        padding-left:0;
        padding-right: 50%;
        text-align: right
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__item-title {
        right: auto;
        left: 50%;
        margin-right: 0;
        margin-left: 60px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__item-title:before {
        right: auto;
        left: -62px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__item-title:after {
        right: auto;
        left: -67px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__card-list {
        padding-left: 0;
        padding-right: 40px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__card {
        padding-left: 40px;
        padding-right: 120px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__card-thumb {
        left: auto;
        right: -10px
    }

    .family-timeline-page__item:nth-child(even) .family-timeline-page__card-options {
        right: auto;
        left: 15px
    }
}
@media (max-width: 991px) {
    .family-timeline-page {
        margin: 0
    }

    .family-timeline-page__list:before {
        left: 0
    }

    .family-timeline-page__item {
        margin-top: 90px;
        padding: 0
    }

    .family-timeline-page__item-title {
        position: relative;
        right: auto;
        margin: 0 0 45px 60px;
        border-color: #76757B;
    }

    .family-timeline-page__item-title:before {
        right: auto;
        left: -62px
    }

    .family-timeline-page__item-title:after {
        right: auto;
        left: -67px
    }

    .family-timeline-page__card-list {
        padding-left: 30px
    }
}
@media (max-width: 480px) {
    .family-timeline-page__item {
        margin-top: 60px
    }

    .family-timeline-page__card-list {
        padding-left: 20px
    }

    .family-timeline-page__card {
        padding: 10px 30px 10px 70px
    }

    .family-timeline-page__card-text {
        font-size: 0.875em
    }

    .family-timeline-page__card-thumb {
        margin-top: -34px
    }

    .family-timeline-page__card-thumb-link {
        width: 60px;
        height: 60px
    }
}
@media (max-width: 991px) {
    .family-timeline-page__item:first-child .family-timeline-page__item-title {
        color:#242528;
        border-color: #ced0d9
    }

    .family-timeline-page__item:first-child .family-timeline-page__item-title:after {
        background-color: #242528
    }
}