@mixin responsive($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: 600px) {
            @content;
        } //600px
    }
    @if $breakpoint == md {
        @media (max-width: 900px) {
            @content;
        } //900px
    }
    @if $breakpoint == lg {
        @media (max-width: 1200px) {
            @content;
        } //1200px
    }
    @if $breakpoint == xl {
        @media (min-width: 1800px) {
            @content;
        } //1800px
    }
}
