@media (max-width: 1199px) {
    .family-tree__row {
        border-color: rgba(0,0,0,0.05)
    }
}
@media (max-width: 767px) {
    .family-tree__branch:last-child .family-tree__row--1-items .family-tree__grid--children:before {
        bottom: auto;
        height: 30px
    }

    .family-tree__branch:last-child .family-tree__row--2-items .family-tree__grid--children:before {
        bottom: calc(50% - 15px);
        height: auto
    }

    .family-tree__branch:last-child .family-tree__row--3-items .family-tree__grid--children:before {
        bottom: calc(33.3333% - 35px)
    }

    .family-tree__branch:last-child .family-tree__row--4-items .family-tree__grid--children:before {
        bottom: calc(25% - 45px)
    }

    .family-tree__branch:last-child .family-tree__row--5-items .family-tree__grid--children:before {
        bottom: calc(20% - 51px)
    }

    .family-tree__branch:last-child .family-tree__row--6-items .family-tree__grid--children:before {
        bottom: calc(16.6666% - 55px)
    }

    .family-tree__branch:last-child .family-tree__row--7-items .family-tree__grid--children:before {
        bottom: calc(14.2857% - 57.5px)
    }

    .family-tree__branch:last-child .family-tree__row--8-items .family-tree__grid--children:before {
        bottom: calc(12.5% - 60px)
    }

    .family-tree__branch:last-child .family-tree__row--9-items .family-tree__grid--children:before {
        bottom: calc(11.1111% - 62px)
    }

    .family-tree__branch:last-child .family-tree__row--10-items .family-tree__grid--children:before {
        bottom: calc(10% - 63px)
    }

    .family-tree__branch:last-child .family-tree__row--11-items .family-tree__grid--children:before {
        bottom: calc(9.0909% - 64px)
    }

    .family-tree__branch:last-child .family-tree__row--12-items .family-tree__grid--children:before {
        bottom: calc(8.3333% - 65px)
    }

    .family-tree__branch:last-child .family-tree__row--13-items .family-tree__grid--children:before {
        bottom: calc(7.6923% - 66px)
    }

    .family-tree__branch:last-child .family-tree__row--14-items .family-tree__grid--children:before {
        bottom: calc(7.1428% - 66.5px)
    }

    .family-tree__branch:last-child .family-tree__row--15-items .family-tree__grid--children:before {
        bottom: calc(6.6666% - 67px)
    }

    .family-tree__row-inner {
        padding: 0 30px
    }

    .family-tree--3-cols .family-tree__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px
    }

    .family-tree--3-cols .family-tree__grid--parents:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--partners:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(3n) {
        grid-column-start: 2
    }

    .family-tree--3-cols .family-tree__grid--children:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item {
        grid-column-start: 2
    }

    .family-tree--3-cols .family-tree__grid-item .family-tree__card--child:before {
        left: -50%;
        margin-left: -40px
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(1):not(:last-child) .family-tree__card--child:before {
        right: 50%
    }

    .family-tree--4-cols .family-tree__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px
    }

    .family-tree--4-cols .family-tree__grid--parents:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--partners:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--partners .family-tree__grid-item:not(:first-child) {
        grid-column-start: 2
    }

    .family-tree--4-cols .family-tree__grid--children:before {
        left: calc(((100% - 40px) / 2) / 2)
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1) {
        grid-column-start: 2
    }

    .family-tree--4-cols .family-tree__grid-item .family-tree__card--child:before {
        left: -50%;
        margin-left: -40px
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(1):not(:last-child) .family-tree__card--child:before,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1):not(:last-child) .family-tree__card--child:before,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+2):not(:last-child) .family-tree__card--child:before {
        right: 50%
    }
}
@media (max-width: 480px) {
    .family-tree__row {
        border-top: 1px solid transparent
    }

    .family-tree__branch:first-child .family-tree__row:first-child {
        border: 0;
        padding-top: 0;
    }

    .family-tree__grid {
        row-gap: 60px
    }

    .family-tree__grid:before,
    .family-tree__grid:after,
    .family-tree__grid .family-tree__grid-item .family-tree__card:before,
    .family-tree__grid .family-tree__grid-item .family-tree__card:after {
        display: none
    }

    .family-tree--2-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--3-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--3-cols .family-tree__grid--children .family-tree__grid-item:nth-child(2n+1),
    .family-tree--3-cols .family-tree__grid--partners .family-tree__grid-item:nth-child(3n) {
        grid-column-start: auto
    }

    .family-tree--4-cols .family-tree__grid {
        grid-template-columns: 1fr;
        max-width: 220px
    }

    .family-tree--4-cols .family-tree__grid--partners .family-tree__grid-item:not(:first-child) {
        grid-column-start: auto
    }

    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item,
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(2n+1),
    .family-tree--4-cols .family-tree__grid--children .family-tree__grid-item:nth-child(3n+1) {
        grid-column-start: auto
    }
    .family-timeline-page__item:first-child .family-timeline-page__item-title{
        color: #242528;
        &::after{
            background-color: #242528;
        }
    }
}