@import 'mixin';
@import 'family-tree';
@import 'family-timeline';
@import 'responsive';
$playfair: 'Playfair Display', serif;
$red: #d8220b;
$blue: #1C3964;

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px;
    width: 100%;
    max-width: 1380px;

    @include responsive(md) {
        padding: 0 15px;
    }
}

.section {
    .section-title {
        font-family: $playfair;
    }
}

.more-link {
    color: $red;
    letter-spacing: 1px;
}

#mashead {
    .nav-bar {
        @include responsive(lg) {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #FFF;
            height: 100vh;
            width: 300px;
            overflow-y: auto;
            padding: 2em 0;
            transform: translateX(-110%);
            transition: transform .3s ease;
            z-index: 9999;

            &.active {
                transform: translateX(0)
            }

            ul {
                position: static !important;
            }

            li {
                a {
                    padding: 10px 20px;
                }

                &.current-menu-item {
                    >a {
                        box-shadow: none !important;
                        color: $red;
                    }
                }
            }

            .sub-menu {
                background-color: #f7f8f9 !important;
                display: block !important;
                width: 100% !important;
                box-shadow: none !important;
                margin: 0 !important;

                &::before {
                    content: none !important;
                }
            }
        }
    }

    .menu {
        font-weight: 300;

        li {
            position: relative;

            &.current-menu-item {
                >a {
                    box-shadow: 0 2px 0 0 $red;
                }
            }

            .sub-menu {
                border-color: #edf1f4;
                box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
                background-color: #FFF;
                padding: 20px 30px;
                margin-top: 13px;
                width: 250px;
                border: 1px solid transparent;
                border-top: 0;
                border-radius: 3px;
                position: absolute;
                top: 100%;
                left: -20px;
                color: black;
                display: none;

                &::before {
                    content: "";
                    display: block;
                    border: 10px solid transparent;
                    border-bottom: 7px solid #FFF;
                    position: absolute;
                    left: 30px;
                    top: -15px;
                }

                li {
                    a {
                        padding: 5px 0;
                        display: block;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }

        >li {
            &:hover {
                >a {
                    box-shadow: 0 2px 0 0 $red;
                }

                >.sub-menu {
                    display: block;
                }
            }
        }
    }

    .search-box {
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

#section-header {
    .text-box {
        .entry-title {
            font-family: $playfair;
            line-height: 1.25 !important;

            .line {
                box-shadow: 0 2px 0 0 #fff;
            }
        }
    }
}

.entry-content {
    p {
        margin-bottom: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    b,
    strong {
        font-weight: bold;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5 {
        font-size: 1em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul,
    ol {
        margin: 1em 0;
        padding-left: 1em;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}

#family-members {
    .family {
        .people {
            .date {
                @include responsive(sm) {
                    transform: scale(0.7);
                    left: 3px;
                    top: 3px;
                }
            }
        }
    }
}

.blog-posts {
    .post {
        &:hover {
            img {
                opacity: .5;
            }
        }
    }
}

.toggle-menu-btn {
    width: 25px;
    height: 20px;
    border: 0;
    padding: 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    display: none;

    &:focus {
        outline: none;
    }

    @include responsive(lg) {
        display: block;
        z-index: 9999;
    }

    span {
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        right: 0;
        background: white;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &.active {
        span {
            top: 50% !important;
            bottom: auto;

            &:nth-child(1) {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                width: 100%;
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}

.post__content {
    line-height: 1.7;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $playfair;
        margin-bottom: .5em;
        font-weight: bold;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.6em;
    }

    h5 {
        font-size: 1.4em;
    }

    h6 {
        font-size: 1.1em;
    }

    p {
        margin-bottom: 1em;
    }

    figure {
        max-width: 100%;

        &.alignleft {
            float: left;
            margin: 0 45px 30px 0;
        }

        &.alignright {
            margin: 0 0 30px 45px;
            float: right;
        }

        &.aligncenter {
            display: block;
            margin: 0 auto;
        }

        figcaption {
            margin-top: 0.5em;
            margin-bottom: 1em;
            font-size: .8em;
        }

        @include responsive(sm) {
            margin: 0 auto !important;
            float: none !important;
        }
    }

    img {
        max-width: 100%;
        height: auto;

        &.alignleft {
            float: left;
            margin: 0 45px 30px 0;
        }

        &.alignright {
            margin: 0 0 30px 45px;
            float: right;
        }

        &.aligncenter {
            display: block;
            margin: 0 auto;
        }
    }

    blockquote {
        margin: 0 0 30px 0;
        padding-left: 30px;
        border: 1px solid #ced0d9;
        border-width: 0 0 0 2px;
        box-sizing: border-box;
        overflow-wrap: break-word;
        margin-bottom: 30px;
        clear: both;

        cite {
            display: inline-block;
            margin-top: 10px;
            font-style: normal;
        }

        >p {
            margin: 30px 0 0 0;
            font-size: 1.25em;
            font-style: italic;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.galleries {
    .item {
        &:hover {
            .text-box {
                opacity: 1;
            }
        }
    }
}

#family-sorting {
    .sorting-list {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        li {
            a {
                display: flex;
                gap: 3px;
                align-items: center;
                &.asc{
                    .icon{
                        &::before{
                            background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3' /></svg>");
                        }
                    }
                    &:hover{
                        .icon{
                            &::before{
                                background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1' stroke='red'><path stroke-linecap='round' stroke-linejoin='round' d='M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3' /></svg>");
                            }
                        }
                    }
                }
                &.des{
                    .icon{
                        &::before{
                            background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' d='M8.25 6.75L12 3m0 0l3.75 3.75M12 3v18' /></svg>");
                        }
                    }
                    &:hover{
                        .icon{
                            &::before{
                                background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1' stroke='red'><path stroke-linecap='round' stroke-linejoin='round' d='M8.25 6.75L12 3m0 0l3.75 3.75M12 3v18' /></svg>");
                            }
                        }
                    }
                }
                .icon {
                    &::before {
                        content: "";
                        display: block;
                        width: 14px;
                        height: 14px;
                    }
                }
                .label{
                    font-weight: 300;
                    text-transform: uppercase;
                }
                &:hover{
                    .icon{
                        transform: rotate(180deg);
                    }
                    .label{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}